.App {
  position: relative;
  padding-bottom: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.events-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.events-page-title {
  font-size: 48px;
  padding: 30px 0;
}

.sort-options {
  margin-bottom: 15px;
}

.sort-options #sort {
  height: 25px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .5);
}

.sort-options #sort:focus {
  outline: none;
}

.loading-info {
  margin-top: 20px;
  text-align: center;
}